:root {
  --amber-100: #fef3c7;
  --amber-10: #ffd60a;
  --amber-11: #ffca16;
  --amber-12: #ffe7b3;
  --amber-1: #16120c;
  --amber-200: #fde68a;
  --amber-2: #1c1812;
  --amber-300: #fcd34d;
  --amber-3: #302008;
  --amber-400: #fbbf24;
  --amber-4: #3e2700;
  --amber-500: #f59e0b;
  --amber-50: #fffbeb;
  --amber-5: #4c3000;
  --amber-600: #d97706;
  --amber-6: #5b3d06;
  --amber-700: #b45309;
  --amber-7: #704f1a;
  --amber-800: #92400e;
  --amber-8: #8f6424;
  --amber-900: #78350f;
  --amber-950: #451a03;
  --amber-9: #ffc53d;
  --backdrop-blur-backdrop-blur-2xl: 2.857rem;
  --backdrop-blur-backdrop-blur-3xl: 4.571rem;
  --backdrop-blur-backdrop-blur-lg: 1.143rem;
  --backdrop-blur-backdrop-blur-md: 0.857rem;
  --backdrop-blur-backdrop-blur-none: 0rem;
  --backdrop-blur-backdrop-blur-sm: 0.286rem;
  --backdrop-blur-backdrop-blur-xl: 1.714rem;
  --backdrop-blur: 0.571rem;
  --base-black: #000000;
  --base-white: #ffffff;
  --black-a10: #000000cc;
  --black-a11: #000000e6;
  --black-a12: #000000f2;
  --black-a1: #0000000d;
  --black-a2: #0000001a;
  --black-a3: #00000026;
  --black-a4: #00000033;
  --black-a5: #0000004d;
  --black-a6: #00000066;
  --black-a7: #00000080;
  --black-a8: #00000099;
  --black-a9: #000000b3;
  --blue-100: #dbeafe;
  --blue-10: #3b9eff;
  --blue-11: #70b8ff;
  --blue-12: #c2e6ff;
  --blue-1: #0d1520;
  --blue-200: #bfdbfe;
  --blue-2: #111927;
  --blue-300: #93c5fd;
  --blue-3: #0d2847;
  --blue-400: #60a5fa;
  --blue-4: #003362;
  --blue-500: #3b82f6;
  --blue-50: #eff6ff;
  --blue-5: #004074;
  --blue-600: #2563eb;
  --blue-6: #104d87;
  --blue-700: #1d4ed8;
  --blue-7: #205d9e;
  --blue-800: #1e40af;
  --blue-8: #2870bd;
  --blue-900: #1e3a8a;
  --blue-950: #172554;
  --blue-9: #0090ff;
  --bronze-10: #ae8c7e;
  --bronze-11: #d4b3a5;
  --bronze-12: #ede0d9;
  --bronze-1: #141110;
  --bronze-2: #1c1917;
  --bronze-3: #262220;
  --bronze-4: #302a27;
  --bronze-5: #3b3330;
  --bronze-6: #493e3a;
  --bronze-7: #5a4c47;
  --bronze-8: #6f5f58;
  --bronze-9: #a18072;
  --brown-10: #b88c67;
  --brown-11: #dbb594;
  --brown-12: #f2e1ca;
  --brown-1: #12110f;
  --brown-2: #1c1816;
  --brown-3: #28211d;
  --brown-4: #322922;
  --brown-5: #3e3128;
  --brown-6: #4d3c2f;
  --brown-7: #614a39;
  --brown-8: #7c5f46;
  --brown-9: #ad7f58;
  --crimson-10: #ee518a;
  --crimson-11: #ff92ad;
  --crimson-12: #fdd3e8;
  --crimson-1: #191114;
  --crimson-2: #201318;
  --crimson-3: #381525;
  --crimson-4: #4d122f;
  --crimson-5: #5c1839;
  --crimson-6: #6d2545;
  --crimson-7: #873356;
  --crimson-8: #b0436e;
  --crimson-9: #e93d82;
  --cyan-100: #cffafe;
  --cyan-10: #23afd0;
  --cyan-11: #4ccce6;
  --cyan-12: #b6ecf7;
  --cyan-1: #0b161a;
  --cyan-200: #a5f3fc;
  --cyan-2: #111b1f;
  --cyan-300: #67e8f9;
  --cyan-3: #082c36;
  --cyan-400: #22d3ee;
  --cyan-4: #003848;
  --cyan-500: #06b6d4;
  --cyan-50: #ecfeff;
  --cyan-5: #004557;
  --cyan-600: #0891b2;
  --cyan-6: #065468;
  --cyan-700: #0e7490;
  --cyan-7: #13677e;
  --cyan-800: #155e75;
  --cyan-8: #11809c;
  --cyan-900: #164e63;
  --cyan-950: #083344;
  --cyan-9: #00a2c7;
  --emerald-100: #d1fae5;
  --emerald-200: #a7f3d0;
  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-500: #10b981;
  --emerald-50: #ecfdf5;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;
  --emerald-950: #022c22;
  --error-bg: #2d0607;
  --error-border: #4d0408;
  --error-text: #ff9ea1;
  --font-font-black: 64.286rem;
  --font-font-bold: 50rem;
  --font-font-extrabold: 57.143rem;
  --font-font-extralight: 14.286rem;
  --font-font-light: 21.429rem;
  --font-font-medium: 35.714rem;
  --font-font-normal: 28.571rem;
  --font-font-semibold: 42.857rem;
  --font-font-thin: 7.143rem;
  --fuchsia-100: #fae8ff;
  --fuchsia-200: #f5d0fe;
  --fuchsia-300: #f0abfc;
  --fuchsia-400: #e879f9;
  --fuchsia-500: #d946ef;
  --fuchsia-50: #fdf4ff;
  --fuchsia-600: #c026d3;
  --fuchsia-700: #a21caf;
  --fuchsia-800: #86198f;
  --fuchsia-900: #701a75;
  --fuchsia-950: #4a044e;
  --gap-05: 0.143rem;
  --gap-0: 0rem;
  --gap-10: 2.857rem;
  --gap-11: 3.143rem;
  --gap-12: 3.429rem;
  --gap-14: 4rem;
  --gap-15: 0.429rem;
  --gap-16: 4.571rem;
  --gap-20: 5.714rem;
  --gap-24: 6.857rem;
  --gap-25: 0.714rem;
  --gap-28: 8rem;
  --gap-2: 0.571rem;
  --gap-32: 9.143rem;
  --gap-35: 1rem;
  --gap-36: 10.286rem;
  --gap-3: 0.857rem;
  --gap-40: 11.429rem;
  --gap-44: 12.571rem;
  --gap-48: 13.714rem;
  --gap-4: 1.143rem;
  --gap-52: 14.857rem;
  --gap-56: 16rem;
  --gap-5: 1.429rem;
  --gap-60: 16rem;
  --gap-64: 18.286rem;
  --gap-6: 1.714rem;
  --gap-72: 20.571rem;
  --gap-7: 2rem;
  --gap-80: 22.857rem;
  --gap-8: 2.286rem;
  --gap-96: 27.429rem;
  --gap-9: 2.571rem;
  --gap-px: 0.071rem;
  --gap-x-0: 0rem;
  --gap-y-0: 0rem;
  --gold-10: #a39073;
  --gold-11: #cbb99f;
  --gold-12: #e8e2d9;
  --gold-1: #121211;
  --gold-2: #1b1a17;
  --gold-3: #24231f;
  --gold-4: #2d2b26;
  --gold-5: #38352e;
  --gold-6: #444039;
  --gold-7: #544f46;
  --gold-8: #696256;
  --gold-9: #978365;
  --grass-10: #53b365;
  --grass-11: #71d083;
  --grass-12: #c2f0c2;
  --grass-1: #0e1511;
  --grass-2: #151a16;
  --grass-3: #1b2a1e;
  --grass-4: #1e3a25;
  --grass-5: #25482e;
  --grass-6: #2d5737;
  --grass-7: #366740;
  --grass-8: #3e7949;
  --grass-9: #46a758;
  --gray-100: #f3f4f6;
  --gray-10: #7b7b7b;
  --gray-11: #b4b4b4;
  --gray-12: #eeeeee;
  --gray-1: #111111;
  --gray-200: #e5e7eb;
  --gray-2: #191919;
  --gray-300: #d1d5db;
  --gray-3: #222222;
  --gray-400: #9ca3af;
  --gray-4: #2a2a2a;
  --gray-500: #6b7280;
  --gray-50: #f9fafb;
  --gray-5: #313131;
  --gray-600: #4b5563;
  --gray-6: #3a3a3a;
  --gray-700: #374151;
  --gray-7: #484848;
  --gray-800: #1f2937;
  --gray-8: #606060;
  --gray-900: #111827;
  --gray-950: #030712;
  --gray-9: #6e6e6e;
  --green-100: #dcfce7;
  --green-10: #33b074;
  --green-11: #3dd68c;
  --green-12: #b1f1cb;
  --green-1: #0e1512;
  --green-200: #bbf7d0;
  --green-2: #121b17;
  --green-300: #86efac;
  --green-3: #132d21;
  --green-400: #4ade80;
  --green-4: #113b29;
  --green-500: #22c55e;
  --green-50: #f0fdf4;
  --green-5: #174933;
  --green-600: #16a34a;
  --green-6: #20573e;
  --green-700: #15803d;
  --green-7: #28684a;
  --green-800: #166534;
  --green-8: #2f7c57;
  --green-900: #14532d;
  --green-950: #052e16;
  --green-9: #30a46c;
  --height-h-05: 0.143rem;
  --height-h-0: 0rem;
  --height-h-10: 2.857rem;
  --height-h-12: 3.429rem;
  --height-h-14: 4rem;
  --height-h-16: 4.571rem;
  --height-h-18: 5.143rem;
  --height-h-1: 0.286rem;
  --height-h-20: 5.714rem;
  --height-h-24: 6.857rem;
  --height-h-25: 0.714rem;
  --height-h-2: 0.571rem;
  --height-h-35: 1rem;
  --height-h-3: 0.857rem;
  --height-h-48: 13.714rem;
  --height-h-4: 1.143rem;
  --height-h-5: 1.429rem;
  --height-h-6: 1.714rem;
  --height-h-72: 20.571rem;
  --height-h-7: 2rem;
  --height-h-8: 2.286rem;
  --height-h-96: 27.429rem;
  --height-h-9: 2.571rem;
  --height-h-px: 0.071rem;
  --indigo-100: #e0e7ff;
  --indigo-10: #5472e4;
  --indigo-11: #9eb1ff;
  --indigo-12: #d6e1ff;
  --indigo-1: #11131f;
  --indigo-200: #c7d2fe;
  --indigo-2: #141726;
  --indigo-300: #a5b4fc;
  --indigo-3: #182449;
  --indigo-400: #818cf8;
  --indigo-4: #1d2e62;
  --indigo-500: #6366f1;
  --indigo-50: #eef2ff;
  --indigo-5: #253974;
  --indigo-600: #4f46e5;
  --indigo-6: #304384;
  --indigo-700: #4338ca;
  --indigo-7: #3a4f97;
  --indigo-800: #3730a3;
  --indigo-8: #435db1;
  --indigo-900: #312e81;
  --indigo-950: #1e1b4b;
  --indigo-9: #3e63dd;
  --info-bg: #000d1f;
  --info-border: #00113d;
  --info-text: #5896f3;
  --iris-10: #6e6ade;
  --iris-11: #b1a9ff;
  --iris-12: #e0dffe;
  --iris-1: #13131e;
  --iris-2: #171625;
  --iris-3: #202248;
  --iris-4: #262a65;
  --iris-5: #303374;
  --iris-6: #3d3e82;
  --iris-7: #4a4a95;
  --iris-8: #5958b1;
  --iris-9: #5b5bd6;
  --jade-10: #27b08b;
  --jade-11: #1fd8a4;
  --jade-12: #adf0d4;
  --jade-1: #0d1512;
  --jade-2: #121c18;
  --jade-3: #0f2e22;
  --jade-4: #0b3b2c;
  --jade-5: #114837;
  --jade-6: #1b5745;
  --jade-7: #246854;
  --jade-8: #2a7e68;
  --jade-9: #29a383;
  --leading-leading-10: 2.857rem;
  --leading-leading-3: 0.857rem;
  --leading-leading-4: 1.143rem;
  --leading-leading-5: 1.429rem;
  --leading-leading-6: 1.714rem;
  --leading-leading-7: 2rem;
  --leading-leading-8: 2.286rem;
  --leading-leading-9: 2.571rem;
  --lime-100: #ecfccb;
  --lime-10: #d4ff70;
  --lime-11: #bde56c;
  --lime-12: #e3f7ba;
  --lime-1: #111304;
  --lime-200: #d9f99d;
  --lime-2: #161913;
  --lime-300: #bef264;
  --lime-3: #202919;
  --lime-400: #a3e635;
  --lime-4: #2a371f;
  --lime-500: #84cc16;
  --lime-50: #f7fee7;
  --lime-5: #334424;
  --lime-600: #65a30d;
  --lime-6: #3e522b;
  --lime-700: #4d7c0f;
  --lime-7: #496231;
  --lime-800: #3f6212;
  --lime-8: #577538;
  --lime-900: #365314;
  --lime-950: #111111;
  --lime-9: #bdee63;
  --margin-mx-0: 0rem;
  --margin-mx-10: 2.857rem;
  --margin-mx-11: 3.143rem;
  --margin-mx-12: 3.429rem;
  --margin-mx-14: 4rem;
  --margin-mx-15: 0.429rem;
  --margin-mx-16: 4.571rem;
  --margin-mx-18: 5.143rem;
  --margin-mx-20: 5.714rem;
  --margin-mx-24: 6.857rem;
  --margin-mx-25: 0.714rem;
  --margin-mx-28: 8rem;
  --margin-mx-2: 0.571rem;
  --margin-mx-32: 9.143rem;
  --margin-mx-35: 1rem;
  --margin-mx-36: 10.286rem;
  --margin-mx-3: 0.857rem;
  --margin-mx-40: 11.429rem;
  --margin-mx-44: 12.571rem;
  --margin-mx-48: 13.714rem;
  --margin-mx-4: 1.143rem;
  --margin-mx-52: 14.857rem;
  --margin-mx-56: 16rem;
  --margin-mx-5: 1.429rem;
  --margin-mx-60: 17.143rem;
  --margin-mx-64: 18.286rem;
  --margin-mx-6: 1.714rem;
  --margin-mx-72: 20.571rem;
  --margin-mx-7: 2rem;
  --margin-mx-80: 22.857rem;
  --margin-mx-8: 2.286rem;
  --margin-mx-96: 27.429rem;
  --margin-mx-9: 2.571rem;
  --margin-mx-px: 0.071rem;
  --margin-my-0: 0rem;
  --margin-my-10: 2.857rem;
  --margin-my-12: 3.429rem;
  --margin-my-15: 0.429rem;
  --margin-my-16: 4.571rem;
  --margin-my-18: 5.143rem;
  --margin-my-20: 5.714rem;
  --margin-my-24: 6.857rem;
  --margin-my-25: 0.714rem;
  --margin-my-28: 8rem;
  --margin-my-2: 0.571rem;
  --margin-my-32: 9.143rem;
  --margin-my-35: 1rem;
  --margin-my-36: 10.286rem;
  --margin-my-3: 0.857rem;
  --margin-my-40: 11.429rem;
  --margin-my-44: 12.571rem;
  --margin-my-48: 13.714rem;
  --margin-my-4: 1.143rem;
  --margin-my-52: 14.857rem;
  --margin-my-56: 16rem;
  --margin-my-5: 1.429rem;
  --margin-my-60: 17.143rem;
  --margin-my-64: 18.286rem;
  --margin-my-6: 1.714rem;
  --margin-my-72: 20.571rem;
  --margin-my-80: 22.857rem;
  --margin-my-8: 2.286rem;
  --margin-my-96: 27.429rem;
  --margin-my-9: 2.571rem;
  --margin-my-px: 0.071rem;
  --mauve-10: #7c7a85;
  --mauve-11: #b5b2bc;
  --mauve-12: #eeeef0;
  --mauve-1: #121113;
  --mauve-2: #1a191b;
  --mauve-3: #232225;
  --mauve-4: #2b292d;
  --mauve-5: #323035;
  --mauve-6: #3c393f;
  --mauve-7: #49474e;
  --mauve-8: #625f69;
  --mauve-9: #6f6d78;
  --max-h-max-h-05: 0.143rem;
  --max-h-max-h-0: 0rem;
  --max-h-max-h-10: 2.857rem;
  --max-h-max-h-11: 3.143rem;
  --max-h-max-h-12: 3.429rem;
  --max-h-max-h-14: 4rem;
  --max-h-max-h-15: 0.429rem;
  --max-h-max-h-16: 4.571rem;
  --max-h-max-h-1: 0.286rem;
  --max-h-max-h-20: 5.714rem;
  --max-h-max-h-24: 6.857rem;
  --max-h-max-h-25: 0.714rem;
  --max-h-max-h-28: 8rem;
  --max-h-max-h-2: 0.571rem;
  --max-h-max-h-32: 9.143rem;
  --max-h-max-h-35: 1rem;
  --max-h-max-h-36: 10.286rem;
  --max-h-max-h-3: 0.857rem;
  --max-h-max-h-40: 11.429rem;
  --max-h-max-h-44: 12.571rem;
  --max-h-max-h-48: 13.714rem;
  --max-h-max-h-4: 1.143rem;
  --max-h-max-h-52: 14.857rem;
  --max-h-max-h-56: 16rem;
  --max-h-max-h-5: 1.429rem;
  --max-h-max-h-60: 17.143rem;
  --max-h-max-h-64: 18.286rem;
  --max-h-max-h-6: 1.714rem;
  --max-h-max-h-72: 20.571rem;
  --max-h-max-h-7: 2rem;
  --max-h-max-h-80: 22.857rem;
  --max-h-max-h-8: 2.286rem;
  --max-h-max-h-96: 27.429rem;
  --max-h-max-h-9: 2.571rem;
  --max-h-max-h-px: 0.071rem;
  --max-w-max-w-05: 0.143rem;
  --max-w-max-w-0: 0rem;
  --max-w-max-w-10: 2.857rem;
  --max-w-max-w-11: 3.143rem;
  --max-w-max-w-12: 3.429rem;
  --max-w-max-w-14: 4rem;
  --max-w-max-w-15: 0.429rem;
  --max-w-max-w-16: 4.571rem;
  --max-w-max-w-1: 0.286rem;
  --max-w-max-w-20: 5.714rem;
  --max-w-max-w-24: 6.857rem;
  --max-w-max-w-25: 0.714rem;
  --max-w-max-w-28: 8rem;
  --max-w-max-w-2: 0.571rem;
  --max-w-max-w-2xl: 48rem;
  --max-w-max-w-32: 9.143rem;
  --max-w-max-w-36: 10.286rem;
  --max-w-max-w-3: 0.857rem;
  --max-w-max-w-3xl: 54.857rem;
  --max-w-max-w-40: 11.429rem;
  --max-w-max-w-44: 12.571rem;
  --max-w-max-w-48: 13.714rem;
  --max-w-max-w-4: 1.143rem;
  --max-w-max-w-4xl: 64rem;
  --max-w-max-w-52: 14.857rem;
  --max-w-max-w-56: 16rem;
  --max-w-max-w-5: 1.429rem;
  --max-w-max-w-5xl: 73.143rem;
  --max-w-max-w-60: 17.143rem;
  --max-w-max-w-64: 18.286rem;
  --max-w-max-w-6: 1.714rem;
  --max-w-max-w-6xl: 82.286rem;
  --max-w-max-w-72: 20.571rem;
  --max-w-max-w-7: 2rem;
  --max-w-max-w-7xl: 91.429rem;
  --max-w-max-w-80: 22.857rem;
  --max-w-max-w-8: 2.286rem;
  --max-w-max-w-96: 27.429rem;
  --max-w-max-w-9: 2.571rem;
  --max-w-max-w-lg: 36.571rem;
  --max-w-max-w-md: 32rem;
  --max-w-max-w-px: 0.071rem;
  --max-w-max-w-screen-2xl: 109.714rem;
  --max-w-max-w-screen-lg: 73.143rem;
  --max-w-max-w-screen-md: 54.857rem;
  --max-w-max-w-screen-sm: 45.714rem;
  --max-w-max-w-screen-xl: 91.429rem;
  --max-w-max-w-xl: 41.143rem;
  --mint-10: #a8f5e5;
  --mint-11: #58d5ba;
  --mint-12: #c4f5e1;
  --mint-1: #0e1515;
  --mint-2: #131c1c;
  --mint-3: #092c2b;
  --mint-4: #003b38;
  --mint-5: #044843;
  --mint-6: #14574f;
  --mint-7: #20695f;
  --mint-8: #277f70;
  --mint-9: #86ead4;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-50: #fafafa;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
  --normal-border: #333333;
  --olive-10: #767d74;
  --olive-11: #afb5ad;
  --olive-12: #eceeec;
  --olive-1: #111210;
  --olive-2: #181917;
  --olive-3: #212220;
  --olive-4: #282a27;
  --olive-5: #2f312e;
  --olive-6: #383a36;
  --olive-7: #454843;
  --olive-8: #5c625b;
  --olive-9: #687066;
  --opacity-opacity-0: 0rem;
  --opacity-opacity-100: 7.143rem;
  --opacity-opacity-10: 0.714rem;
  --opacity-opacity-15: 1.071rem;
  --opacity-opacity-20: 1.429rem;
  --opacity-opacity-25: 1.786rem;
  --opacity-opacity-30: 2.143rem;
  --opacity-opacity-35: 2.5rem;
  --opacity-opacity-40: 2.857rem;
  --opacity-opacity-45: 3.214rem;
  --opacity-opacity-50: 3.571rem;
  --opacity-opacity-55: 3.929rem;
  --opacity-opacity-5: 0.357rem;
  --opacity-opacity-60: 4.286rem;
  --opacity-opacity-65: 4.643rem;
  --opacity-opacity-70: 5rem;
  --opacity-opacity-75: 5.357rem;
  --opacity-opacity-80: 5.714rem;
  --opacity-opacity-85: 6.071rem;
  --opacity-opacity-90: 6.429rem;
  --opacity-opacity-95: 6.786rem;
  --orange-100: #ffedd5;
  --orange-10: #ff801f;
  --orange-11: #ffa057;
  --orange-12: #ffe0c2;
  --orange-1: #17120e;
  --orange-200: #fed7aa;
  --orange-2: #1c1712;
  --orange-300: #fdba74;
  --orange-3: #331e0b;
  --orange-400: #fb923c;
  --orange-4: #462000;
  --orange-500: #f97316;
  --orange-50: #fff7ed;
  --orange-5: #562800;
  --orange-600: #ea580c;
  --orange-6: #66350e;
  --orange-700: #c2410c;
  --orange-7: #7e451e;
  --orange-800: #9a3412;
  --orange-8: #a35829;
  --orange-900: #7c2d12;
  --orange-950: #431407;
  --orange-9: #f76b15;
  --pink-100: #fce7f3;
  --pink-10: #de51a8;
  --pink-11: #ff8dcc;
  --pink-12: #fdd1ea;
  --pink-1: #191117;
  --pink-200: #fbcfe8;
  --pink-2: #21121d;
  --pink-300: #f9a8d4;
  --pink-3: #37172f;
  --pink-400: #f472b6;
  --pink-4: #4b143d;
  --pink-500: #ec4899;
  --pink-50: #fdf2f8;
  --pink-5: #591c47;
  --pink-600: #db2777;
  --pink-6: #692955;
  --pink-700: #be185d;
  --pink-7: #833869;
  --pink-800: #9d174d;
  --pink-8: #a84885;
  --pink-900: #831843;
  --pink-950: #500724;
  --pink-9: #d6409f;
  --plum-10: #b658c4;
  --plum-11: #e796f3;
  --plum-12: #f4d4f4;
  --plum-1: #181118;
  --plum-2: #201320;
  --plum-3: #351a35;
  --plum-4: #451d47;
  --plum-5: #512454;
  --plum-6: #5e3061;
  --plum-7: #734079;
  --plum-8: #92549c;
  --plum-9: #ab4aba;
  --purple-100: #f3e8ff;
  --purple-10: #9a5cd0;
  --purple-11: #d19dff;
  --purple-12: #ecd9fa;
  --purple-1: #18111b;
  --purple-200: #e9d5ff;
  --purple-2: #1e1423;
  --purple-300: #d8b4fe;
  --purple-3: #301c3b;
  --purple-400: #c084fc;
  --purple-4: #3d224e;
  --purple-500: #a855f7;
  --purple-50: #faf5ff;
  --purple-5: #47295c;
  --purple-600: #9333ea;
  --purple-6: #54336b;
  --purple-700: #7e22ce;
  --purple-7: #664282;
  --purple-800: #6b21a8;
  --purple-8: #8457aa;
  --purple-900: #581c87;
  --purple-950: #3b0764;
  --purple-9: #8e4ec6;
  --px-0: 0rem;
  --px-10: 2.857rem;
  --px-11: 3.143rem;
  --px-12: 3.429rem;
  --px-14: 4rem;
  --px-15: 0.429rem;
  --px-16: 4.571rem;
  --px-18: 5.143rem;
  --px-20: 5.714rem;
  --px-24: 6.857rem;
  --px-25: 0.714rem;
  --px-28: 8rem;
  --px-2: 0.571rem;
  --px-32: 9.143rem;
  --px-35: 1rem;
  --px-36: 10.286rem;
  --px-3: 0.857rem;
  --px-40: 11.429rem;
  --px-44: 12.571rem;
  --px-48: 13.714rem;
  --px-4: 1.143rem;
  --px-52: 14.857rem;
  --px-56: 16rem;
  --px-5: 1.429rem;
  --px-60: 17.143rem;
  --px-64: 18.286rem;
  --px-6: 1.714rem;
  --px-72: 20.571rem;
  --px-7: 2rem;
  --px-80: 22.857rem;
  --px-8: 2.286rem;
  --px-96: 27.429rem;
  --px-9: 2.571rem;
  --px-px: 0.071rem;
  --py-0: 0rem;
  --py-10: 2.857rem;
  --py-12: 3.429rem;
  --py-15: 0.429rem;
  --py-16: 4.571rem;
  --py-18: 5.143rem;
  --py-20: 5.714rem;
  --py-24: 6.857rem;
  --py-25: 0.714rem;
  --py-28: 8rem;
  --py-2: 0.571rem;
  --py-32: 9.143rem;
  --py-35: 1rem;
  --py-36: 10.286rem;
  --py-3: 0.857rem;
  --py-40: 11.429rem;
  --py-44: 12.571rem;
  --py-48: 13.714rem;
  --py-4: 1.143rem;
  --py-52: 14.857rem;
  --py-56: 16rem;
  --py-5: 1.429rem;
  --py-60: 17.143rem;
  --py-64: 18.286rem;
  --py-6: 1.714rem;
  --py-72: 20.571rem;
  --py-80: 22.857rem;
  --py-8: 2.286rem;
  --py-96: 27.429rem;
  --py-9: 2.571rem;
  --py-px: 0.071rem;
  --red-100: #fee2e2;
  --red-10: #ec5d5e;
  --red-11: #ff9592;
  --red-12: #ffd1d9;
  --red-1: #191111;
  --red-200: #fecaca;
  --red-2: #201314;
  --red-300: #fca5a5;
  --red-3: #3b1219;
  --red-400: #f87171;
  --red-4: #500f1c;
  --red-500: #ef4444;
  --red-50: #fef2f2;
  --red-5: #611623;
  --red-600: #dc2626;
  --red-6: #72232d;
  --red-700: #b91c1c;
  --red-7: #8c333a;
  --red-800: #991b1b;
  --red-8: #b54548;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
  --red-9: #e5484d;
  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-50: #fff1f2;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;
  --rose-950: #4c0519;
  --rounded-2xl: 1.143rem;
  --rounded-3xl: 1.714rem;
  --rounded-full: 714.214rem;
  --rounded-lg: 0.571rem;
  --rounded-md: 0.429rem;
  --rounded-none: 0rem;
  --rounded-sm: 0.143rem;
  --rounded-xl: 0.857rem;
  --rounded: 0.286rem;
  --ruby-10: #ec5a72;
  --ruby-11: #ff949d;
  --ruby-12: #fed2e1;
  --ruby-1: #191113;
  --ruby-2: #1e1517;
  --ruby-3: #3a141e;
  --ruby-4: #4e1326;
  --ruby-5: #5e192e;
  --ruby-6: #6f2539;
  --ruby-7: #883447;
  --ruby-8: #b3445a;
  --ruby-9: #e54666;
  --sage-10: #717d78;
  --sage-11: #acb4b0;
  --sage-12: #eceeed;
  --sage-1: #101211;
  --sage-2: #171918;
  --sage-3: #202221;
  --sage-4: #272a29;
  --sage-5: #2e3130;
  --sage-6: #373b39;
  --sage-7: #444947;
  --sage-8: #5b625f;
  --sage-9: #63706b;
  --sand-10: #7c7a73;
  --sand-11: #b4b2ac;
  --sand-12: #eeeeec;
  --sand-1: #111110;
  --sand-2: #191918;
  --sand-3: #222221;
  --sand-4: #2a2a28;
  --sand-5: #31312e;
  --sand-6: #3b3a37;
  --sand-7: #494844;
  --sand-8: #62605b;
  --sand-9: #6f6d66;
  --sky-100: #e0f2fe;
  --sky-10: #a8eeff;
  --sky-11: #75c7f0;
  --sky-12: #c2f3ff;
  --sky-1: #0d141f;
  --sky-200: #bae6fd;
  --sky-2: #121a26;
  --sky-300: #7dd3fc;
  --sky-3: #12283e;
  --sky-400: #38bdf8;
  --sky-4: #123553;
  --sky-500: #0ea5e9;
  --sky-50: #f0f9ff;
  --sky-5: #154366;
  --sky-600: #0284c7;
  --sky-6: #1b537a;
  --sky-700: #0369a1;
  --sky-7: #1f6691;
  --sky-800: #075985;
  --sky-8: #197cae;
  --sky-900: #0c4a6e;
  --sky-950: #082f49;
  --sky-9: #7ce2fe;
  --slate-100: #f1f5f9;
  --slate-10: #777b84;
  --slate-11: #afb3ba;
  --slate-12: #edeef0;
  --slate-1: #111113;
  --slate-200: #e2e8f0;
  --slate-2: #111113;
  --slate-300: #cbd5e1;
  --slate-3: #111113;
  --slate-400: #94a3b8;
  --slate-4: #272a2d;
  --slate-500: #64748b;
  --slate-50: #f8fafc;
  --slate-5: #2e3135;
  --slate-600: #475569;
  --slate-6: #363a3f;
  --slate-700: #334155;
  --slate-7: #43484e;
  --slate-800: #1e293b;
  --slate-8: #5a6169;
  --slate-900: #0f172a;
  --slate-950: #020617;
  --slate-9: #696e77;
  --space-base-unit: 0.286rem;
  --space-half-unit: 0.143rem;
  --space-x-space-x-0: 0rem;
  --space-x-space-x-10: 2.857rem;
  --space-x-space-x-11: 3.143rem;
  --space-x-space-x-12: 3.429rem;
  --space-x-space-x-14: 4rem;
  --space-x-space-x-15: 0.429rem;
  --space-x-space-x-16: 4.571rem;
  --space-x-space-x-20: 5.714rem;
  --space-x-space-x-24: 6.857rem;
  --space-x-space-x-25: 0.714rem;
  --space-x-space-x-28: 8rem;
  --space-x-space-x-2: 0.571rem;
  --space-x-space-x-32: 9.143rem;
  --space-x-space-x-35: 1rem;
  --space-x-space-x-36: 10.286rem;
  --space-x-space-x-3: 0.857rem;
  --space-x-space-x-40: 11.429rem;
  --space-x-space-x-44: 12.571rem;
  --space-x-space-x-48: 13.714rem;
  --space-x-space-x-4: 1.143rem;
  --space-x-space-x-52: 14.857rem;
  --space-x-space-x-56: 16rem;
  --space-x-space-x-5: 1.429rem;
  --space-x-space-x-60: 17.143rem;
  --space-x-space-x-64: 18.286rem;
  --space-x-space-x-6: 1.714rem;
  --space-x-space-x-72: 20.571rem;
  --space-x-space-x-7: 2rem;
  --space-x-space-x-80: 22.857rem;
  --space-x-space-x-8: 2.286rem;
  --space-x-space-x-96: 27.429rem;
  --space-x-space-x-9: 2.571rem;
  --space-y-space-y-0: 0rem;
  --space-y-space-y-10: 2.857rem;
  --space-y-space-y-11: 3.143rem;
  --space-y-space-y-12: 3.429rem;
  --space-y-space-y-14: 4rem;
  --space-y-space-y-15: 0.429rem;
  --space-y-space-y-16: 4.571rem;
  --space-y-space-y-20: 5.714rem;
  --space-y-space-y-24: 6.857rem;
  --space-y-space-y-25: 0.714rem;
  --space-y-space-y-28: 8rem;
  --space-y-space-y-2: 0.571rem;
  --space-y-space-y-32: 9.143rem;
  --space-y-space-y-35: 1rem;
  --space-y-space-y-36: 10.286rem;
  --space-y-space-y-3: 0.857rem;
  --space-y-space-y-40: 11.429rem;
  --space-y-space-y-44: 12.571rem;
  --space-y-space-y-48: 13.714rem;
  --space-y-space-y-4: 1.143rem;
  --space-y-space-y-52: 14.857rem;
  --space-y-space-y-56: 16rem;
  --space-y-space-y-5: 1.429rem;
  --space-y-space-y-60: 17.143rem;
  --space-y-space-y-64: 18.286rem;
  --space-y-space-y-6: 1.714rem;
  --space-y-space-y-72: 20.571rem;
  --space-y-space-y-7: 2rem;
  --space-y-space-y-80: 22.857rem;
  --space-y-space-y-8: 2.286rem;
  --space-y-space-y-96: 27.429rem;
  --space-y-space-y-9: 2.571rem;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-500: #78716c;
  --stone-50: #fafaf9;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --stone-900: #1c1917;
  --stone-950: #0c0a09;
  --success-bg: #001f0f;
  --success-border: #003d1c;
  --success-text: #59f3a6;
  --teal-100: #ccfbf1;
  --teal-10: #0eb39e;
  --teal-11: #0bd8b6;
  --teal-12: #adf0dd;
  --teal-1: #0d1514;
  --teal-200: #99f6e4;
  --teal-2: #121c1b;
  --teal-300: #5eead4;
  --teal-3: #0d2d2a;
  --teal-400: #2dd4bf;
  --teal-4: #043b35;
  --teal-500: #14b8a6;
  --teal-50: #f0fdfa;
  --teal-5: #0b4841;
  --teal-600: #0d9488;
  --teal-6: #16574f;
  --teal-700: #0f766e;
  --teal-7: #1d6960;
  --teal-800: #115e59;
  --teal-8: #207e73;
  --teal-900: #134e4a;
  --teal-950: #042f2e;
  --teal-9: #12a594;
  --text-text-2xl: 1.714rem;
  --text-text-3xl: 2.143rem;
  --text-text-4xl: 2.571rem;
  --text-text-5xl: 3.429rem;
  --text-text-6xl: 4.286rem;
  --text-text-7xl: 5.143rem;
  --text-text-8xl: 6.857rem;
  --text-text-9xl: 9.143rem;
  --text-text-base: 1.143rem;
  --text-text-lg: 1.286rem;
  --text-text-sm: 1rem;
  --text-text-xl: 1.429rem;
  --text-text-xs: 0.857rem;
  --tomato-10: #ec6142;
  --tomato-11: #ff977d;
  --tomato-12: #fbd3cb;
  --tomato-1: #181111;
  --tomato-2: #1f1513;
  --tomato-3: #391714;
  --tomato-4: #4e1511;
  --tomato-5: #5e1c16;
  --tomato-6: #6e2920;
  --tomato-7: #853a2d;
  --tomato-8: #ac4d39;
  --tomato-9: #e54d2e;
  --tracking-tracking-normal: 0rem;
  --tracking-tracking-tight: -0.179rem;
  --tracking-tracking-tighter: -0.357rem;
  --tracking-tracking-wide: 0.179rem;
  --tracking-tracking-wider: 0.357rem;
  --tracking-tracking-widest: 0.714rem;
  --violet-100: #ede9fe;
  --violet-10: #7d66d9;
  --violet-11: #baa7ff;
  --violet-12: #e2ddfe;
  --violet-1: #14121f;
  --violet-200: #ddd6fe;
  --violet-2: #1b1525;
  --violet-300: #c4b5fd;
  --violet-3: #291f44;
  --violet-400: #a78bfa;
  --violet-4: #33255b;
  --violet-500: #8b5cf6;
  --violet-50: #f5f3ff;
  --violet-5: #3c2e69;
  --violet-600: #7c3aed;
  --violet-6: #473876;
  --violet-700: #6d28d9;
  --violet-7: #56468b;
  --violet-800: #5b21b6;
  --violet-8: #6958ad;
  --violet-900: #4c1d95;
  --violet-950: #2e1065;
  --violet-9: #6e56cf;
  --warning-bg: #1d1f00;
  --warning-border: #3d3d00;
  --warning-text: #f3cf58;
  --white-a10: #ffffffcc;
  --white-a11: #ffffffe6;
  --white-a12: #fffffff2;
  --white-a1: #ffffff0d;
  --white-a2: #ffffff1a;
  --white-a3: #ffffff26;
  --white-a4: #ffffff33;
  --white-a5: #ffffff4d;
  --white-a6: #ffffff66;
  --white-a7: #ffffff80;
  --white-a8: #ffffff99;
  --white-a9: #ffffffb3;
  --width-w-05: 0.143rem;
  --width-w-0: 0rem;
  --width-w-10: 2.857rem;
  --width-w-12: 3.429rem;
  --width-w-14: 4rem;
  --width-w-16: 4.571rem;
  --width-w-18: 5.143rem;
  --width-w-1: 0.286rem;
  --width-w-20: 5.714rem;
  --width-w-24: 6.857rem;
  --width-w-25: 0.714rem;
  --width-w-2: 0.571rem;
  --width-w-35: 1rem;
  --width-w-3: 0.857rem;
  --width-w-48: 13.714rem;
  --width-w-4: 1.143rem;
  --width-w-5: 1.429rem;
  --width-w-6: 1.714rem;
  --width-w-72: 20.571rem;
  --width-w-7: 2rem;
  --width-w-8: 2.286rem;
  --width-w-96: 27.429rem;
  --width-w-9: 2.571rem;
  --width-w-px: 0.071rem;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-50: #fefce8;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --yellow-950: #422006;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-50: #fafafa;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
  --background: var(--base-white);
  --foreground: var(--slate-950);
  --muted: var(--slate-100);
  --muted-foreground: var(--slate-500);
  --card: var(--base-white);
  --card-foreground: var(--slate-950);
  --popover: var(--base-white);
  --popover-foreground: var(--slate-950);
  --border: var(--slate-200);
  --input: var(--slate-200);
  --primary: var(--slate-900);
  --primary-foreground: var(--slate-50);
  --secondary: var(--slate-100);
  --secondary-foreground: var(--slate-900);
  --accent: var(--slate-100);
  --accent-foreground: var(--slate-900);
  --destructive: var(--red-500);
  --destructive-foreground: var(--slate-50);
  --ring: var(--slate-500);
  --radius: var(--rounded-rounded-lg);
  --radius-md: var(--rounded-rounded-md);
  --radius-sm: var(--rounded-rounded);
}

.dark {
  --background: var(--slate-950);
  --foreground: var(--slate-50);
  --muted: var(--slate-800);
  --muted-foreground: var(--slate-400);
  --card: var(--slate-950);
  --card-foreground: var(--slate-50);
  --popover: var(--slate-950);
  --popover-foreground: var(--slate-50);
  --border: var(--slate-700);
  --input: var(--slate-700);
  --primary: var(--slate-50);
  --primary-foreground: var(--slate-900);
  --secondary: var(--slate-800);
  --secondary-foreground: var(--slate-50);
  --accent: var(--slate-800);
  --accent-foreground: var(--slate-50);
  --destructive: var(--red-900);
  --destructive-foreground: var(--slate-50);
  --ring: var(--slate-400);
  --radius: var(--rounded-rounded-lg);
  --radius-md: var(--rounded-rounded-md);
  --radius-sm: var(--rounded-rounded);
}
