---
import '../styles/pages/home.css';

import MainLayout from '../layouts/MainLayout.astro';

import Header from '../components/Header.astro';
import FakeLoader from '../components/FakeLoader.astro';

import Hero from '../components/Hero.astro';
import Cases from '../components/Cases.astro';
import Sobre from '../components/Sobre.astro';
import Conectar from '../components/Conectar.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout>

  <script is:inline slot="head">

    const savedTheme = localStorage.getItem('theme');
    const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

    if (savedTheme === 'dark' || (!savedTheme && prefersDark)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }

  </script>

  <FakeLoader />

  <main class="w-full">

    <Hero />
    <Cases />
    <Sobre />
    <Conectar />

  </main>

  <script>
    import '../scripts/app.js';
  </script>

</MainLayout>